# Public URL of the app, used to build absolute links.
APP_BASE_URL=http://localhost:3000
# Event name shown in the app.
EVENT_NAME="Hack the Hill"
# IANA time zone used to display event times.
EVENT_TIMEZONE=America/Toronto
